<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.snapshot.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.cupk.snapshot.model.entity.SysUser">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="passWord" column="pass_word" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="accountExpired" column="account_expired" jdbcType="TINYINT"/>
        <result property="accountLocked" column="account_locked" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,pass_word,nick_name,sex,phone,enable,email,avatar,account_expired,account_locked
    </sql>

    <select id="selectRoleIdById" resultType="java.lang.Long">
        SELECT ur.`role_id`
        FROM sys_user u
                 LEFT JOIN sys_user_role ur ON u.`id` = ur.`user_id`
        WHERE u.`id` = #{id};
    </select>

    <select id="selectAuthoritiesByRoleId" resultType="java.lang.String">
        SELECT DISTINCT m.`name`
        FROM sys_role_menu rm
                 LEFT JOIN sys_menu m ON rm.`menu_id` = m.`id`
        WHERE rm.`role_id` = #{roleId};
    </select>

</mapper>
