<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.snapshot.mapper.AcceptMapper">

    <resultMap id="BaseResultMap" type="com.cupk.snapshot.domain.entity.Accept">
            <id property="acceptId" column="accept_id" jdbcType="BIGINT"/>
            <result property="reportId" column="report_id" jdbcType="BIGINT"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="examineId" column="examine_id" jdbcType="BIGINT"/>
            <result property="examineName" column="examine_name" jdbcType="VARCHAR"/>
            <result property="handlerId" column="handler_id" jdbcType="BIGINT"/>
            <result property="handlerName" column="handler_name" jdbcType="VARCHAR"/>
            <result property="isPublic" column="is_public" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        accept_id,report_id,level,
        examine_id,examine_name,handler_id,
        handler_name,is_public,status,
        create_time,update_time,is_deleted
    </sql>


    <select id="getTotalAccept" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM wfssp_accept
        WHERE `status` = '等待审核'
    </select>
</mapper>
